*{
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
.Intro{
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.Intro .search{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 60%;
  height: 70px;
  /* border: solid black 2px; */
  box-shadow: grey 0px 5px 10px;
  border-radius: 50px;
  background: white;
  padding: 15px 40px 15px 40px;
}
.search input{
  height: 100%;
  width: 100%;
  text-decoration: none;
  border: none;
  border-bottom: solid rgb(122, 122, 122) 1px;
  padding: 0 0px 0px 10px;
}
input:hover {
  cursor: text;
}
.Cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 90vh;
  justify-content: center;
  align-content: flex-start;
  /* border: solid blue 3px; */
  background: linear-gradient(to top left, #c9ffbf, #ff9472);
  padding: 10% 5% 0 5%;
}