*{
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
.Intro{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background: blue;
  /* background: url('../src/skyview.jpg');
  background-size: cover;
  background-position: center; */

}
.IntroTitle{
  /* width: 90px;
  height: 50px; */
  font-size: 3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: rgb(0, 247, 255);
  z-index: 100;
}
.IntroSlogan{
  width: 67%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: rgb(216, 216, 216);
  margin-top: 30px;
  z-index: 200;
}
.Intro .search{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 60%;
  height: 70px;
  /* border: solid black 2px; */
  box-shadow: rgb(0, 0, 0) 0px 5px 10px;
  border-radius: 50px;
  background: white;
  z-index: 100;
  padding: 15px 40px 15px 40px;
}
.search input{
  height: 100%;
  width: 100%;
  text-decoration: none;
  border: none;
  border-bottom: solid rgb(224, 224, 224) 2px;
  padding: 0 0px 0px 10px;
}
input:hover {
  cursor: text;
}
.cardsTitle{
  width: 100%;
  height: 150px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  line-height: 150px;
  background: white;
  z-index: 200;
  margin: 0;
}
.cardsDescription{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 200px; */
  font-size: 1.0rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  padding: 0 15% 0 15%;
  text-align: center;
  margin: 0;
}
.Cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 90vh;
  justify-content: center;
  align-content: flex-start;
  /* border: solid blue 3px; */
  background: white;
  padding: 10% 5% 0 5%;
  z-index: 100;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  font-family: 'Montserrat' sans-serif;
  font-size: 1rem;
  color: white;
  background: rgb(20, 0, 75);
}