@import url('https://fonts.googleapis.com/css?family=Montserrat|Mukta|Open+Sans&display=swap');
.Nav {
    display: flex;
    height: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0 10% 0 10%;
    background: black;
    /* border: solid black 2px; */
    /* background: linear-gradient(to right, #f2709c, #ff9472); */
}
.Nav a{
    color: white;
    font-family: "Mukta";
    font-size: 1.2rem;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
.Nav a:hover{
    color: rgb(130, 0, 252);
    cursor: pointer;
}
